.tile {
    display: block;
}

.image {
    width: 305px;
    height: 150px;
    border-radius: 2px;
}

.tilebadge {
    text-align: left;
    font-size: 12px;
    font-weight: 600;
    padding-top: 5px;
    color: rgb(255, 122, 34);
}
.tiletag {
    text-align: left;
    font-size: 16px;
    font-weight: 600;
    padding-top: 5px;
    color: rgb(63, 58, 58);
}

.tiledesc {
    text-align: left;
    color: gray;
    width: 290px;
    font-size: 13px;
}