.tile {
    display: block;
}

.image {
    width: 460px;
    height: 250px;
    border-radius: 2px;
}

.tilebadge {
    text-align: left;
    font-size: 14px;
    font-weight: 600;
    padding-top: 5px;
    color: brown;
}

.tiledesc {
    text-align: left;
    color: gray;
    width: 380px;
    font-size: 15px;
}