.signuppage {
    height: 100vh;
    margin-top: -40px;
    display: grid;
    grid-template-columns: 5fr 2fr;
    background-image: linear-gradient(to bottom, rgba(0, 0, 255, 0.596), rgba(128, 0, 128, 0.896)), url('../../assets/img2.jpeg');
    background-size: cover;
    background-position: top center;
}

@media( max-width: 650px) {
    .signuppage {
        height: auto;
    }
}